* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    background-color: rgb(42, 39, 59);
}

main {
    margin: 0 auto;
    background-color: rgb(42, 39, 59);
    width: 100vw;
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-input {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    padding: 5px 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    color: black;
}

#msg-error {
    margin: -5px;
    font-size: 10px;
    color: red;
    padding: 3px 10px;
    border-radius: 30px;
    height: 16px;
}

button {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 40px;
    border: solid 1px white;
    cursor: pointer;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: white;
    color: rgb(42, 39, 59)
}